USE [master]
GO
/****** Object:  Database [SERVERCONTROL]    Script Date: 31/01/2021 13:32:24 ******/
CREATE DATABASE [SERVERCONTROL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SERVERCONTROL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SERVERCONTROL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SERVERCONTROL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SERVERCONTROL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SERVERCONTROL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SERVERCONTROL]
GO
/****** Object:  Table [dbo].[SERVIDOR]    Script Date: 31/01/2021 13:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVIDOR](
	[Id] [uniqueidentifier] NOT NULL,
	[NOME] [varchar](255) NULL,
	[ENDERECOIP] [varchar](255) NULL,
	[PORTAIP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKMONITOR]    Script Date: 31/01/2021 13:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKMONITOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SITUACAO] [bit] NOT NULL,
	[DATAEXECUCAO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 31/01/2021 13:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[Id] [uniqueidentifier] NOT NULL,
	[Descricao] [varchar](255) NULL,
	[Binario] [text] NULL,
	[IdServidor] [uniqueidentifier] NULL,
	[DataCadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVIDOR] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[VIDEO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD  CONSTRAINT [FK_Servidor] FOREIGN KEY([IdServidor])
REFERENCES [dbo].[SERVIDOR] ([Id])
GO
ALTER TABLE [dbo].[VIDEO] CHECK CONSTRAINT [FK_Servidor]
GO
USE [master]
GO
